Repository kradalby/wc3ts: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        types: [nix]

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        types: [go]
        pass_filenames: false

docs: explain icons and desktop integration
  README.md
Due: none

icons: add generated assets and windows resources
  assets/icons/hicolor/128x128/apps/wc3ts.png
  assets/icons/hicolor/16x16/apps/wc3ts.png
  assets/icons/hicolor/22x22/apps/wc3ts.png
  assets/icons/hicolor/24x24/apps/wc3ts.png
  assets/icons/hicolor/256x256/apps/wc3ts.png
  assets/icons/hicolor/32x32/apps/wc3ts.png
  assets/icons/hicolor/48x48/apps/wc3ts.png
  assets/icons/hicolor/512x512/apps/wc3ts.png
  assets/icons/hicolor/64x64/apps/wc3ts.png
  assets/icons/icon-master.png
  assets/icons/wc3ts.icns
  assets/icons/wc3ts.ico
  cmd/wc3ts/resource_windows_amd64.syso
  cmd/wc3ts/resource_windows_arm64.syso
Due: none

goreleaser: package linux desktop files and macOS app bundle
  .goreleaser.yml
Due: none

release: verify desktop artifacts
  .goreleaser.yml
  Makefile
  README.md
  packaging/check-release.sh
Due: none

icons: add generation pipeline and packaging sources
  Makefile
  assets/icons/icon-source.png
  flake.nix
  packaging/linux/postinstall.sh
  packaging/linux/wc3ts.desktop
  packaging/macos/Info.plist
  packaging/macos/make-app-bundle.sh
  packaging/windows/versioninfo.json
Due: nixpkgs-fmt

config: document experimental game versions
  README.md
  cmd/wc3ts/probe.go
  cmd/wc3ts/run.go
  config/config.go
  config/config_test.go
Due: golangci-lint

flake: update inputs
  flake.lock
Due: none

go.mod: update dependencies
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

pre-commit: update pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

.github: update action pins
  .github/workflows/edge.yml
  .github/workflows/gc.yml
  .github/workflows/release.yml
Due: none

tui: migrate to charm v2
  cmd/wc3ts/run.go
  flake.nix
  go.mod
  go.sum
  tui/handler.go
  tui/model.go
  tui/update.go
  tui/update_test.go
  tui/view.go
Due: nixpkgs-fmt, golangci-lint

go.mod: update ultraviolet
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

tui: sort a copy of PeersMsg peers
  peer/manager.go
  tailscale/discovery.go
  tui/update.go
  tui/update_test.go
Due: golangci-lint

tailscale: drop unused Discovery peer cache
  tailscale/discovery.go
Due: golangci-lint

tui: never block logging on the event loop
  cmd/wc3ts/run.go
  tui/handler.go
  tui/handler_test.go
Due: golangci-lint

game: publish immutable registry snapshots
  cmd/wc3ts/run.go
  game/registry.go
  game/registry_test.go
Due: golangci-lint

lan: broadcast from the registry snapshot
  cmd/wc3ts/run.go
  lan/broadcaster.go
  lan/broadcaster_internal_test.go
Due: golangci-lint

game: keep FirstSeen across refreshes
  game/registry.go
  game/registry_internal_test.go
  game/registry_test.go
Due: golangci-lint

game: expire games unseen for GameTimeout
  cmd/wc3ts/run.go
  game/game.go
  game/registry.go
  game/registry_test.go
  lan/broadcaster_internal_test.go
Due: golangci-lint

game: copy games in and out of the registry
  game/registry.go
  game/registry_test.go
Due: golangci-lint

tui: stop the log forwarder with ctx
  cmd/wc3ts/run.go
  tui/handler.go
  tui/handler_test.go
Due: golangci-lint

tailscale: stop combining NotifyRateLimit with NotifyPeerChanges
  tailscale/discovery.go
  tailscale/discovery_test.go
Due: golangci-lint

tailscale: satisfy golangci-lint in discovery
  tailscale/discovery.go
  tailscale/discovery_internal_test.go
  tailscale/discovery_test.go
Due: golangci-lint
