Repository kradalby/wc3ts: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, golangci-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        types: [nix]

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fix
        language: system
        types: [go]
        pass_filenames: false

go.mod: bump charmbracelet/bubbles to v1.0.0
  go.mod
  go.sum
Due: none

flake: use go_1_26 and set vendorHash
  flake.lock
  flake.nix
Due: nixpkgs-fmt

go.mod: bump tailscale.com to v1.96.5
  go.mod
  go.sum
Due: none

go.mod: bump indirect deps to latest
  go.mod
  go.sum
Due: none

flake: refresh vendorHash for indirect dep bumps
  flake.nix
Due: nixpkgs-fmt

flake: use nixpkgs shorthand in input URL
  flake.lock
  flake.nix
Due: nixpkgs-fmt

gitignore: ignore nix build result symlinks
  .gitignore
Due: none

ci: migrate to official Nix installer + hestia cache
  .github/workflows/ci.yml
  .github/workflows/gc.yml
  .github/workflows/release.yml
Due: none

lint: fix golangci-lint findings
  lan/broadcaster.go
  tui/handler.go
Due: golangci-lint

ci: pin nix-installer and hestia actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/gc.yml
  .github/workflows/release.yml
Due: none

ci: run lint/test/build/format as named flake checks
  .github/workflows/ci.yml
  flake.lock
  flake.nix
Due: nixpkgs-fmt

deps: update flake, go deps, pin action SHAs
  .github/workflows/ci.yml
  .github/workflows/gc.yml
  .github/workflows/release.yml
  flake.lock
  flake.nix
  game/registry.go
  go.mod
  go.sum
  lan/broadcaster.go
  peer/manager.go
  peer/responder.go
  proxy/tcp.go
  tui/view.go
Due: nixpkgs-fmt, golangci-lint

flake: dedup flake-utils via follows; add gopls and gnumake to devShell
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: add concurrency group to cancel superseded runs
  .github/workflows/ci.yml
Due: none

direnv: add .envrc and ignore .envrc.local
  .envrc
  .gitignore
Due: none

prek: add standard builtin hooks and gated nix-build/test checks
  .pre-commit-config.yaml
Due: none

deps: update flake inputs; apply new goimports grouping
  cmd/wc3ts/probe.go
  cmd/wc3ts/run.go
  cmd/wc3ts/version.go
  flake.lock
  peer/manager.go
  peer/responder.go
  proxy/tcp.go
  tui/model.go
  tui/update.go
  tui/view.go
Due: golangci-lint

deps: update Go deps; migrate off deprecated tailscale Notify.NetMap
  flake.nix
  go.mod
  go.sum
  tailscale/discovery.go
Due: nixpkgs-fmt, golangci-lint

lint: disable deprecated gomodguard, replaced by gomodguard_v2
  .golangci.yml
Due: none

deps: update flake inputs; replace deprecated exhaustruct linter
  .golangci.yml
  flake.lock
Due: none

flake: build with go_latest
  flake.nix
Due: nixpkgs-fmt

go.mod: bump to Go 1.27
  cmd/wc3ts/probe.go
  go.mod
Due: golangci-lint

deps: update Go deps
  flake.nix
  go.mod
  go.sum
Due: nixpkgs-fmt

nix: format with nixfmt
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: delegate checks to Garnix
  .github/workflows/ci.yml
  .github/workflows/edge.yml
  .github/workflows/gc.yml
  .github/workflows/release.yml
  flake.nix
Due: nixpkgs-fmt

tui: dispatch refresh/version callbacks as tea.Cmd
  tui/update.go
  tui/update_test.go
Due: golangci-lint

tui: serialize callbacks
  cmd/wc3ts/run.go
  tui/model.go
  tui/update.go
  tui/update_test.go
Due: golangci-lint

release: verify desktop artifacts
  .goreleaser.yml
  Makefile
  README.md
  packaging/check-release.sh
Due: none

goreleaser: package linux desktop files and macOS app bundle
  .goreleaser.yml
Due: none

icons: add generated assets and windows resources
  assets/icons/hicolor/128x128/apps/wc3ts.png
  assets/icons/hicolor/16x16/apps/wc3ts.png
  assets/icons/hicolor/22x22/apps/wc3ts.png
  assets/icons/hicolor/24x24/apps/wc3ts.png
  assets/icons/hicolor/256x256/apps/wc3ts.png
  assets/icons/hicolor/32x32/apps/wc3ts.png
  assets/icons/hicolor/48x48/apps/wc3ts.png
  assets/icons/hicolor/512x512/apps/wc3ts.png
  assets/icons/hicolor/64x64/apps/wc3ts.png
  assets/icons/icon-master.png
  assets/icons/wc3ts.icns
  assets/icons/wc3ts.ico
  cmd/wc3ts/resource_windows_amd64.syso
  cmd/wc3ts/resource_windows_arm64.syso
Due: none

docs: explain icons and desktop integration
  README.md
Due: none

icons: add generation pipeline and packaging sources
  Makefile
  assets/icons/icon-source.png
  flake.nix
  packaging/linux/postinstall.sh
  packaging/linux/wc3ts.desktop
  packaging/macos/Info.plist
  packaging/macos/make-app-bundle.sh
  packaging/windows/versioninfo.json
Due: nixpkgs-fmt
